### 10. 行数のカウント

In [2]:
filename = "popular-names.txt"

with open(filename, "r") as f:
    line_count = sum(1 for _ in f)

print(line_count)

2780

### タブをスペースに置換

In [15]:
with open(filename, "r") as f:
    data = f.read().replace("\t", " ")

print(data[:500])

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
John M 9655 1880
William M 9532 1880
James M 5927 1880
Charles M 5348 1880
George M 5126 1880
Frank M 3242 1880
Joseph M 2632 1880
Thomas M 2534 1880
Henry M 2444 1880
Robert M 2415 1880
Mary F 6919 1881
Anna F 2698 1881
Emma F 2034 1881
Elizabeth F 1852 1881
Margaret F 1658 1881
Minnie F 1653 1881
Ida F 1439 1881

### 12. 1列目を col1.txt に，2列目を col2.txt に保存

In [20]:
with open(filename, "r") as f:
    col1 = []
    col2 = []
    for line in f:
        cols = line.strip().split("\t")
        col1.append(cols[0])
        col2.append(cols[1])

with open("col1.txt", "w") as f:
    f.write("\n".join(col1))
with open("col2.txt", "w") as f:
    f.write("\n".join(col2))

### 13. col1.txt と col2.txt をマージ

In [25]:
with open("col1.txt", "r") as f1, open("col2.txt", "r") as f2:
    col1 = f1.readlines()
    col2 = f2.readlines()

merged = "\n".join([f"{c1.strip()}\t{c2.strip()}" for c1,c2 in zip(col1, col2)])

with open("merged.txt", "w") as f:
    f.write(merged)

print(merged[:500])

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F
John	M
William	M
James	M
Charles	M
George	M
Frank	M
Joseph	M
Thomas	M
Henry	M
Robert	M
Mary	F
Anna	F
Emma	F
Elizabeth	F
Margaret	F
Minnie	F
Ida	F
Annie	F
Bertha	F
Alice	F
John	M
William	M
James	M
George	M
Charles	M
Frank	M
Joseph	M
Henry	M
Thomas	M
Edward	M
Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Annie	F
John	M
William	M
James	M
George	M
Charles	M
Frank	M
Joseph	M
Thomas	M
Henr

### 14. 先頭から N 行を出力

In [32]:
N = 10

with open(filename, "r") as f:
    for i, line in enumerate(f):
        if i >= N:
            break
        print(line.strip())

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

### 15. 末尾の N 行を出力

In [37]:
from collections import deque

N = 10
with open(filename, "r") as f:
    last_n_lines = deque(f, maxlen=N)

print("".join(last_n_lines))

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

### 16. ファイルを N 分割

In [42]:
import os 

N = 5

with open(filename, "r") as f:
    lines = f.readlines()

chunk_size = len(lines)
for i in range(N):
    with open(f"split_{i+1}.txt", "w") as f:
        start = i * chunk_size
        end = (i + 1) * chunk_size if i != N - 1 else len(lines)
        f.writelines(lines[start:end])

print("ファイル分割完了")

ファイル分割完了

### 17. 1列目の文字列の異なり

In [45]:
with open(filename, "r") as f:
    unique_words =set(line.split("\t")[0] for line in f)

print(unique_words)

{'Jayden', 'Sarah', 'Donald', 'George', 'Ashley', 'Helen', 'Emily', 'Tracy', 'Scott', 'David', 'Matthew', 'Crystal', 'Joseph', 'Kimberly', 'Henry', 'Minnie', 'Harper', 'Elijah', 'Tyler', 'Walter', 'Sharon', 'Bertha', 'Kelly', 'Brandon', 'Debra', 'Noah', 'Sophia', 'Cynthia', 'Doris', 'Carolyn', 'Oliver', 'Nicholas', 'Michelle', 'Chloe', 'Pamela', 'Laura', 'Edward', 'Jacob', 'Alice', 'Ethel', 'Ruth', 'Richard', 'Amelia', 'Lauren', 'Margaret', 'Bessie', 'Nancy', 'Ronald', 'Dorothy', 'Susan', 'Mary', 'Benjamin', 'Joshua', 'Amanda', 'Liam', 'Florence', 'Brian', 'Charles', 'Kathleen', 'Lillian', 'Isabella', 'Abigail', 'Mark', 'Stephanie', 'Julie', 'Jessica', 'Heather', 'Larry', 'John', 'Carol', 'Mason', 'Christopher', 'Daniel', 'Brittany', 'Judith', 'Lori', 'Betty', 'Shirley', 'Michael', 'Mia', 'Jason', 'Robert', 'James', 'Frances', 'Andrew', 'Annie', 'Olivia', 'Mildred', 'Emma', 'Tammy', 'Virginia', 'Angela', 'Donna', 'Joan', 'Gary', 'Deborah', 'Anthony', 'Samantha', 'Jeffrey', 'Lisa', 'Marie', 'Elizabeth', 'Alexander', 'Barbara', 'Justin', 'Steven', 'Anna', 'Evelyn', 'Madison', 'William', 'Ida', 'Logan', 'Patricia', 'Jennifer', 'Taylor', 'Charlotte', 'Nicole', 'Alexis', 'Ethan', 'Amy', 'Austin', 'Linda', 'Sandra', 'Clara', 'Megan', 'Harry', 'Melissa', 'Ava', 'Rachel', 'Lucas', 'Thomas', 'Rebecca', 'Hannah', 'Aiden', 'Karen', 'Frank'}

### 18. 3列目の数値で降順ソート

In [48]:
with open(filename, "r") as f:
    lines = [line.strip().split("\t") for line in f]

sorted_lines = sorted(lines, key=lambda x: int(x[2]), reverse=True)

for line in sorted_lines[:10]:
    print("\t".join(line))

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954

### 19. 1列目の文字列の出現頻度

In [55]:
from collections import Counter

with open(filename, "r") as f:
    first_column = [line.split("\t")[0] for line in f]

freq = Counter(first_column)
sorted_freq = sorted(freq.items(), key=lambda x: x[1], reverse=True)

for name, count in sorted_freq[:10]:
    print(f"{name}: {count}")

James: 118
William: 111
John: 108
Robert: 108
Mary: 92
Charles: 75
Michael: 74
Elizabeth: 73
Joseph: 70
Margaret: 60